.messagesCount{
    background: none repeat scroll 0 0 #DD403F;
	 color: #FFFFFF;
 }
 .whiteTxt{
    color:#fff;
 }
.whiteTxt:hover{

}
.breadLinks ul li a:hover span{
color:#333;
}

/*tob bar, sidebar and footer background color, image as well as different type of gradient color */
 #top,.sidebar,.footer{
/* background: url("../images/backgrounds/sidebar-4.png") repeat scroll 0 0 transparent !important; */
background: url("../images/backgrounds/sidebar.jpg") repeat scroll 0 0 transparent !important;
}
.vmenu > li > a{
color: #888;
}
.dropdown-toggle{
 color: #FFF !important;
}
.caret {
    border-left: 6px solid transparent !important;
    border-right: 6px solid transparent !important;
    border-top: 6px solid #16A085 !important;
}
.open {
   background: rgb(233,233,233); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(233,233,233,1) 0%, rgba(247,247,247,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,233,233,1)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(247,247,247,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(233,233,233,1) 0%,rgba(247,247,247,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
border:1px solid #ccc;
border-bottom:none;
}
.topNavOpen {
background: rgb(233,233,233); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(233,233,233,1) 0%, rgba(247,247,247,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,233,233,1)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(247,247,247,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(233,233,233,1) 0%,rgba(247,247,247,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
color:#333 !important;
}
/*Widget header color and background color*/
.whead {  color: #e2eef9;
background: #f8f8f8;
background: -moz-linear-gradient(top,  #f8f8f8 0%, #e8e8e8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e8e8e8));
background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: -o-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: -ms-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e8e8e8',GradientType=0 );
}
/*widget background*/
.widget{
 background: #f7f7f7;
}
.components
	{
 background  : url("../images/backgrounds/body.jpg") repeat scroll 0 0 transparent;
    }
/*Sidebar Navigation menu item hover background*/
.vmenu  li ul li a:hover{
 background:#ddd;
	}
/*Notification bar background*/	
.nNoteCustom{
 background: none repeat scroll 0 0 #DDDDDD !important;
}
	
.open a {
 color:#333 !important;
 }
.pB li {
} 
.pB li a{
color:#fff !important;
}

h6 {
    color: black !important;
}